<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/assets/css/projetstyle.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

      <!-- Bootstrap CSS-->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Bootstrap JS-->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="icon" href="../static/assets/images/favicon.ico" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="../static/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="../static/assets/plugins/animation/css/animate.min.css">
    <!-- morris css -->
    <link rel="stylesheet" href="../static/assets/plugins/chart-morris/css/morris.css">

    <link rel="stylesheet" href="../static/assets/css/style.css">

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <title>Job.AT</title>





  </head>
  <body>
  <div class="menu-bar">
   <h1 class="logo">JOB.AT </h1>

        <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">

                <li class="nav-item">

                </li>
            </ul>

        </div>
           <a href="signup.html">
           <button class="btn btn-primary" style="-webkit-text-fill-color: white;font-family: Arial;font-size-adjust: inherit;font-size: medium" type="button">Connexion</button></a>

      </ul>
    </div>


  </div>




  </div>
<br>
  <br>


  <br>
  <br>
  <div  class="col-md-12">
      <div class="card">
          <div class="card-header">

              <h3>Product Compliance Administrator:</h3>

              <span class="d-block m-t-5"></span>
          </div>
          <div class="card-block table-border-style">
                  <div class="card-block px-0 py-3">
                      <div style="float: right">
                      <img class="rounded-circle" style="justify-content: right;alignment: right;width:100px; height: 70px" src="../static/assets/images/user/avatar-1.jpg" alt="activity-user"></td>
</div>
            <p>Entreprise  - Emplacement</p>
            <p>Date</p>

                               <div style="width: 100px; font-size: 30px"  >   <button type="button"   class="btn-primary"  data-bs-toggle="modal"  data-bs-target="#Modal1" style="outline: none">Postuler
                               </button></div>
                  </div>
          </div>
      </div>
  </div>
<br>
      <br>
      <div  class="col-md-10">
      <div class="card">
          <div class="card-header">
              <h5>Détails:</h5>
              <span class="d-block m-t-5"></span>
          </div>
          <div class="card-block table-border-style">
              <div class="infos_job_details">
                    <div class="col-md-4">
                    <dl>
                    <dt>Postes vacants:</dt>
                    <dd>1 poste ouvert </dd>
                    </dl>
                    </div>
                    <div class="col-md-4">
                    <dl>
                    <dt>Type d'emploi désiré :</dt>
                    <dd>CDI</dd>
                    </dl>
                    </div>
                    <div class="col-md-4">
                    <dl>
                    <dt>Experience :</dt>
                    <dd>1 à 3 ans</dd>
                    </dl>
                    </div>
                    <div class="col-md-4">
                    <dl>
                    <dt>Langue :</dt>
                    <dd>Anglais</dd>
                    </dl>
                    </div>
                    <div class="col-md-4">
                    <dl>
                    <dt>Genre :</dt>
                    <dd>Indifférent</dd>
                    </dl>
                    </div>
                    <div class="clear"></div>
                    </div>
          </div>
      </div>
      </div>
          <div  class="col-md-12">
      <div class="card">
          <div class="card-header">
              <h5>Description de l'emploi:</h5>
              <span class="d-block m-t-5"></span>
          </div>
          <div class="card-block table-border-style">
<div class="details-body__content content-text">
    <p><strong>Overview of Role:</strong></p>
<p>Product compliance Administrator with 1-3 years of experience is required to assist and coordinate the review and evaluation of National Pen products to ensure compliance with Global regulations. Responsible for monitoring and applying regulatory requirements, addressing compliance-related questions and providing regulatory guidance on compliance.</p>
<p>&nbsp;</p>
<p><strong>RESPONSIBILITIES:</strong></p>
<p><br>•Manage and maintain product compliance documentation, ensure data availability for the relevant stakeholders;<br>•Provide support on compliance-related issues and administer the required paperwork;<br>•Ensure timely renewals of compliance documentation;<br>•Assist in monitoring and interpreting global regulations impacting National Pen product portfolio; stay updated on regulatory changes;<br>•Support and coordinate the integration of product compliance into existing or new processes;<br>•Interact with external parties on compliance-related issues;<br>•Participate in identifying and resolving compliance-related issues;<br>•Support and coordinate product and label changes based on the regulatory impact.</p></div><div class="details-body__content content-text"><p><strong>Overview of Role:</strong></p>
<p>Product compliance Administrator with 1-3 years of experience is required to assist and coordinate the review and evaluation of National Pen products to ensure compliance with Global regulations. Responsible for monitoring and applying regulatory requirements, addressing compliance-related questions and providing regulatory guidance on compliance.</p>
<p>&nbsp;</p>
<p><strong>RESPONSIBILITIES:</strong></p>
<p><br>•Manage and maintain product compliance documentation, ensure data availability for the relevant stakeholders;<br>•Provide support on compliance-related issues and administer the required paperwork;<br>•Ensure timely renewals of compliance documentation;<br>•Assist in monitoring and interpreting global regulations impacting National Pen product portfolio; stay updated on regulatory changes;<br>•Support and coordinate the integration of product compliance into existing or new processes;<br>•Interact with external parties on compliance-related issues;<br>•Participate in identifying and resolving compliance-related issues;<br>•Support and coordinate product and label changes based on the regulatory impact.</p></div>
<div class="details-body__content content-text"><p><strong>REQUIRED KNOWLEDGE/SKILLS/ABILITIES:</strong></p>
<p><br>•Minimum 1-3 years of relevant work experience with European and/or Global product compliance regulations</p>
<p>•Excellent communication and reporting skills;</p>
<p>•Genuine interest in compliance processes and compliance-related legislation;</p>
<p>•Ability to track and analyze product-related regulations;</p>
<p>•Willingness and ability to take initiative and responsibility;</p>
<p>•Strong customer-focused approach, attention to details;</p>
<p>•Excellent knowledge of Microsoft Office and strong analytical skills;</p>
<p>•Fluency in English, other European languages desirable.</p>
<p>&nbsp;</p>
<p><strong>About Pens.com</strong><br>Pen.com's personalized promotional products are created for and inspired by small businesses. With 56 years of experience and serving 22 countries worldwide, Pens.com offers MORE value, savings and time to customers through expert guidance on a broad range of personalized promotional products, including writing instruments, stationery, drinkware, bags, gifts, and trade show accessories. Pens.com operates via a network of more than 10 facilities across North America, Europe, Africa, and Asia.<br>To learn more, visit: www.PENS.com<br>Pens.com is a National Pen and Cimpress brand (Nasdaq: CMPR).</p></div>
<h5 class="details-body__title">Date d'expiration</h5>
              <div class="details-body__content content-text">14/12/2023</div>
              <br>
              <br>
                               <div style="width: 100px; font-size: 30px"  >   <button type="button"   class="btn-primary"  data-bs-toggle="modal"  data-bs-target="#Modal1" style="outline: none">Postuler
                               </button></div>
          </div>
      </div>
   </div>


<!-- The Modal -->
<div class="modal fade" id="Modal1">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Remplir Vos Données</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <form action="">
              <div class="mb-3 mt-3">
                    <label for="nom" class="form-label">Nom:</label>
                    <input type="text" class="form-control" id="nom" placeholder="Enter nom" name="nom">
                  </div>
              <div class="mb-3 mt-3">
                    <label for="prenom" class="form-label">Prénom:</label>
                    <input type="text" class="form-control" id="prenom" placeholder="Enter prenom" name="prenom">
                  </div>
              <div class="mb-3 mt-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                  </div>
                  <div class="mb-3 mt-3">
                    <label for="tel" class="form-label">Numéro de Téléphone:</label>
                    <input type="tel" class="form-control" id="tel" placeholder="+216 53......"  name="tel" pattern="[0-9]{8}" required>
                  </div>
                  <div class="mb-3">
                    <label for="dn" class="form-label">Date de Naissance:</label>
                    <input type="date" class="form-control" id="dn"  name="dn">
                  </div>
              <div class="mb-3">
                    <label for="cv" class="form-label">CV:</label>
                    <input type="file" class="form-control" id="cv"  name="cv">
                  </div>



          </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">

        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

          </div>
      </div>
  </div>

<br>
  <br>

  <br><br>
<footer class="footer">

  <a class="footerlogo">JOBAT.com</a>

  <section class="icone_social_footer">

    <a href="#">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/2021_Facebook_icon.svg/512px-2021_Facebook_icon.svg.png?20220821121039" class="icon"></a>

    <a href="#">
      <img src="https://www.comune.foggia.it/wp-content/uploads/2021/04/instagram-logo-png.png" class="icon"></a>

     <a href="#">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/480px-Telegram_logo.svg.png" class="icon"></a>

        <a href="#">
      <img src="https://www.espronceda.net/wp-content/uploads/2021/12/format-twitter-logo-transparent-11549680770lolovrdq8m.png" class="icon"></a>

  </section>

  <section class="disclaimer">
    <i class="testo_disclaimer">"This is where you take the first step towards your dream carear !"</i>
  </section>


</footer>




  <script>
      $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})

      // Initialization for ES Users
import { Input, Ripple, initMDB } from "mdb-ui-kit";

initMDB({ Input, Ripple });
  </script>
    <!-- Required Js -->
	<script src="../static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- chart-morris Js -->
    <script src="../static/assets/plugins/chart-morris/js/raphael.min.js"></script>
    <script src="../static/assets/plugins/chart-morris/js/morris.min.js"></script>
    <script src="../static/assets/js/pages/chart-morris-custom.js"></script>

  </body>

</html>